[Unit]
Description=Handles docker-compose orders
After=mysql.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash $script_path $logging_dir $venv_path

[Install]
WantedBy=multi-user.target